*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
    color: aliceblue !important;
    font-weight: 600;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

#banner{
    background-image: linear-gradient(to right,#a517ba,#5f1782); 
    color: #fff;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.bottom-img{
    width: 100%;
}

#collection{
    padding:80px 0;
}
.title{
   font-size: 30px;
   font-weight: 600;
   text-decoration:underline;
   text-decoration-color:#a517ba;
}
.collection-img{
    width: 300px;
    margin-top: 20px;
}
.collection{
    padding: 20px;
}
.collection h3{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
/* .title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
    margin-bottom: 40px;

} */

#services{
    background: #f8f9fa;
    padding: 80px;
}
.services-img{
    width: 300px;
    margin-top: 20px;
}
.services h3{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.services{
    padding: 20px;
}

.about-title{
    font-size:40px;
    font-weight: 600;
    margin-top: 8%;

}
#about{
    /* background: #f8f9fa; */
    padding-bottom: 50px;
    padding-top: 50px;
}
#about ul li{
    margin: 20px 0;
}

#testi{
    background: #f8f9fa;
}
.testi{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testi img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-detail{
    display: inline-block;
    font-size: 12px;
}

#contact{
    /* background-color: #f8f9fa; */
    padding: 100px 0;
}
#contact p{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.socials img{
    width: 60px;
    transition: 0.5s;
}
.socials a:hover img{
    transform: translateY(-10px);
}
#footer{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;

}
hr{
    background-color: #f8f9fa;
}
.copy{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}